<div class="weather-card card">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="simple-weather-info d-flex align-items-center">
          <p class="text-center">{{temp}} °C</p>
        </div>
      </div>

      <div class="col-sm detailed-weather-info">
        <p>{{cityName}}, {{country}} <img class="flag" src="{{flag}}" alt="flag"></p>
        <p>Max <span>{{tempMax}} °C</span></p>
        <p>Min <span>{{tempMin}} °C</span></p>
      </div>

      <div class="col-sm visual-weather-info">
        <img
          src="{{icon}}"
          alt="Icon">
        <p>{{weatherDescription}}</p></div>
    </div>
  </div>

</div>
